html,body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}



.board {
    display: flex;
    gap: 10px;
    align-items: center;

}

.board p {
    font-size: 19px;
    font-family: sans-serif;

}

.menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 310px;

}
.form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}

h2 {
    font-size: 45px;
    margin-block-start: -18px;
    font-family: sans-serif;
    position: relative; 
        padding-bottom: 14px;

   
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;                   
    height: 3px;
    background-color: rgb(61, 151, 241);
}

.section-1 {
   
    margin: 50px auto; 
}

.signup-button {
    background-color: #2a3647;
    color: white;
    height: 35px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.join-icon {
    width: 100px;
    height: 120px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

input {
    border-radius: 5px;
    border-width: 1px;
    width: 250px;
    height: 30px;
}

.email-input {
    border: 1px solid #ccc;
    background-image: url('../assets/icons/envelope-regular-full.svg');
    background-repeat: no-repeat;
    background-position: 222px center;
    background-size: 18px 18px;
    margin-top: 30px;
    padding: 10px 10px;
}

.password-input{
    border: 1px solid #ccc;
    background-image: url('../assets/icons/lock-solid-full.svg');
    background-repeat: no-repeat;
    background-position: 222px center;
    background-size: 18px 18px;
    padding: 10px 10px;
}                  



.login-button {
    color: white;
    background-color: #2a3647;
    border-radius: 8px;
    width: 60px;
}

.guest-button {
    border-radius: 8px;
    border-width: 1px;
    width: 100px;

}

.buttons-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30px;

}
button {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

.login-button, .guest-button {
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}    


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;

}
footer p{
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #afb8c5;
    
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}


