html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}



.board {
    display: flex;
    gap: 10px;
    align-items: center;

}

.board p {
    font-size: 19px;
    font-family: sans-serif;

}

.menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 310px;

}

.form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}

h2 {
    font-size: 45px;
    margin-block-start: -18px;
    font-family: sans-serif;
}

.section-1 {

    margin: 50px auto;
}

.signup-button {
    background-color: #2a3647;
    color: white;
    height: 35px;
    border-radius: 8px;
}

.join-icon {
    width: 100px;
    height: 120px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 60px;

}

input {
    border-radius: 5px;
    border-width: 1px;
    width: 250px;
    height: 20px;
}

.email-input {
    border: 1px solid #ccc;
    background-image: url('../join/assets/icons/envelope-regular-full.svg');
    background-repeat: no-repeat;
    background-position: 230px center;
    background-size: 18px 18px;
}

.password-input {
    border: 1px solid #ccc;
    background-image: url('../join/assets/icons/lock-solid-full.svg');
    background-repeat: no-repeat;
    background-position: 230px center;
    background-size: 18px 18px;
}



.login-button {
    color: white;
    background-color: #2a3647;
    border-radius: 8px;
    width: 60px;
}

.guest-button {
    border-radius: 8px;
    border-width: 1px;
    width: 100px;

}

.buttons-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30px;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;

}

footer p {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #afb8c5;

}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-menue-nav {
    width: 150px;
    height: 160px;
    position: absolute;
    top: 135%;
    right: -10px;
    border-radius: 20px 0px 20px 20px;
    min-width: 160px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    transition: opacity 0.25s ease, transform 0.25 ease;
    z-index: 100;
}

.header-menue-nav ul {
    height: 46px;
    list-style: none;
    margin: 0;
    padding: 16px 16px;
}

.header-menue-nav ul a {
    display: block;
    padding: 8px, 12px;
}