html,
body {
    margin: 0;
}




.main_index {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F7F8;
}



body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0;
    height: 100vh;
    background-color: #F6F7F8;
}


h2 {
    font-size: 45px;
    margin-block-start: -18px;
    font-family: sans-serif;
    position: relative; 
    
}

h2::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;                   
    height: 3px;
    background-color: rgb(61, 151, 241);
}



.menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px;
    padding-bottom: 140px;
}

.board {
    display: flex;
    gap: 10px;
    align-items: center;

}

.board p {
    font-size: 19px;
    font-family: sans-serif;

}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 310px;

}

.form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}



.section-1 {   
    display: grid;
    place-items: center;
}

.signup-button {
    background-color: #2a3647;
    color: white;
    height: 35px;
    border-radius: 8px;
}

.join-icon {
    width: 100px;
    height: 120px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

input {
    border-radius: 5px;
    border-width: 1px;
    width: 250px;
    height: 20px;
}

.email-input {
    border: 1px solid #ccc;
    background-image: url('/assets/icons/mail-icon.svg');
    background-repeat: no-repeat;
    background-position: 285px center;
    background-size: 18px 18px;
    height: 30px;
    width: 320px;
}

.password-input {
    border: 1px solid #ccc;
    background-image: url('/assets/icons/lock-icon.svg');
    background-repeat: no-repeat;
    background-position: 285px center;
    background-size: 18px 18px;
    height: 30px;
    width: 320px;
}

input::placeholder{
    padding-left: 10px;
    color: #aaa;
}



.login-button {
    color: white;
    background-color: #2a3647;
    border-radius: 8px;
    width: 60px;
    font-weight: bold;
}

.guest-button {
    border-radius: 8px;
    border-width: 1px;
    width: 100px;
    font-weight: bold;

}

.buttons-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30px;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

button p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;

}

footer p {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #afb8c5;

}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer {
    color: #aaa;
}
