.signup {
  width: 600px;
  height: 630px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px var(--color-shadow-signup);
}

.signup__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signup__title {
  position: relative;
  font-family: sans-serif;
  font-size: 40px;
}

.signup__title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 3px;
  background-color: var(--color-text-tertiary);
}

.signup__back-icon {
  margin-left: -85px;
  width: 25px;
  height: 25px;
}

.signup__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup__input {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 222px center;
}

.signup__input--name {
  background-image: url('/assets/icons/person-icon.svg');
}

.signup__input--email {
  background-image: url('/assets/icons/mail-icon.svg');
}

.signup__input--password,
.signup__input--confirm-password {
  background-image: url('/assets/icons/lock-icon.svg');
}

.signup__terms {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signup__button {
  background-color: #2a3647;
  color: white;
  height: 40px;
  border-radius: 8px;
  width: 90px;
  cursor: pointer;
}

.signup__button-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

.signup-content {
  display: flex;
  justify-content: center;
  margin-top: -70px;
}

#signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-section-signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.terms-checkbox-p {
  color: #aaa;
  font-family: sans-serif;
  font-size: 14px;
}

.terms-checkbox-a {
  color: #008CBA;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

.terms-checkbox input:checked+.checkmark::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: -2px;
  font-size: 14px;
  color: #3d97f1;
}

.checkmark {
  width: 14px;
  height: 14px;
  border: 2px solid #000000;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.back-icon {
  position: absolute;
  left: -90px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  top: 5px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
}
