body {
  display: block;
}
.signup__logo{
  width: 100px;
  margin: 80px 0 0 76px;
}
.signup {
  width: 600px;
  height: 630px;
  margin: 0px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px var(--color-shadow-signup);
}

/* FIXME Der title und das back-icon müssen noch richtig positioniert werden. */
.signup__header {
  width: 100%;
  display: flex;
}

.signup__title {
  margin: 50px auto 45px auto;
  position: relative;
  font-size: 60px;
}

.signup__return {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 65px 0 0 20px;
}

.signup__return:hover {
  cursor: pointer;
}

.signup__title::after {
  content: "";
  position: absolute;
  bottom: -17px;
  margin: 0px auto 0px auto;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 3px;
  background-color: var(--color-text-tertiary);
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signup__input {
  width: 420px;
  height: 46px;
  font-size: 20px;
  margin: 2px auto 2px auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  border: 1px solid var(--color-input-placeholder);
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: 380px;
}

.signup__input::placeholder {
  font-size: 20px;
  color: var(--color-input-placeholder);
}

/* TODO Farbe der Icon noch anpassen */
.signup__input--name {
  background-image: url('/assets/icons/person-icon.svg');
}

.signup__input--email {
  background-image: url('/assets/icons/mail-icon.svg');
}

.signup__input--password,
.signup__input--confirm-password {
  background-image: url('/assets/icons/lock-icon.svg');
}

.signup__terms {
  width: 100%;
  height: 24px;
  margin: 18px auto 0 auto;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.terms-checkbox-p {
  color: #aaa;
}

.terms-checkbox-a {
  color: var(--color-text-tertiary);
}

.terms-checkbox input:checked+.checkmark::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: -2px;
  font-size: 14px;
  color: #3d97f1;
}

/* .checkmark {
  width: 14px;
  height: 14px;
  border: 2px solid #000000;
  border-radius: 3px;
  display: inline-block;
  position: relative;
} */
.signup__button {
  width: 120px;
  height: 55px;
  background-color: var(--color-menu-bg);
  border-radius: 10px;
  color: var(--color-text-button);
  font-size: 20px;
  font-weight: 700;
}

.signup__button:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

/* .signup__button-text {
  color: var(--color-text-button);
  font-size: 20px;
  font-weight: 700;
} */



.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
}
