
.add-task__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
}

.select-native-wrapper {
  position: relative;
}

.select-native-wrapper .custom-select__arrow {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
  transform: translateY(-10px);
}

.add-task__subtask {
  position: relative;
}

.add-task__subtask-input {
  padding-right: 80px;
  margin-bottom: 10px;
}

.add-task__subtask-actions {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-70%);
  display: flex;
  align-items: center;
  gap: 6px;
}

.add-task__subtask-action-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #2a3647;
  padding: 0;
}

.subtask-divider { color: #999; }

.subtask-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding-left: 18px;
}

.subtask-item-text {
  position: relative;
  flex: 1;
  font-size: 16px;
}

.subtask-item-text::before {
  content: "•";
  position: absolute;
  left: -14px;
}

.subtask-item-actions {
  display: flex;
  gap: 8px;
}

.subtask-icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.add-task__required-hint {
  font-size: 14px;
  color: #2a3647;
}

.add-task__required-star {
  color: #ff8190;
  font-weight: 700;
}

.add-task__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button.add-task__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 10px;
  padding: 0 20px;
  font-weight: 600;
  gap: 5px;
}

.add-task__button--secondary {
  background: #fff;
  border: 1px solid #2a3647;
  color: #2a3647;
}

.add-task__button--primary {
  background: #2a3647;
  border: 1px solid #2a3647;
  color: #fff;
}

.add-task__button img {
  height: 12px;
  margin-left: 5px;
}

.add-task-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.overlay_add_task {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 53%;
  max-height: 90vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 60px;
  gap: 20px;
}
