html {
    width: 100%;
    max-width: none;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.body_add_task {
    background-color: #f6f7f8;
    display: block;
    min-height: 100vh;
    overflow-x: hidden;
    max-width: none;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

input,
textarea,
button,
select {
    font: inherit;
}

.d_none {
    display: none !important;
}

.margin_bottom_add_task {
    margin-bottom: 15px;
}