/* Buttons */
.button {
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  border: unset;
  border-radius: 8px;

  @media(max-width: 580px) {
    width: 180px;
    height: 50px;
    padding: 16px;
    font-size: 16px;
  }
}

button:hover {
  cursor: pointer;
  background-color: var(--background__button--hover);
}

.button__index--signup {
  width: 90px;
  height: 50px;
  margin-right: 120px;
  font-size: 16px;
  color: var(--color-text-button);
  background-color: var(--background__button);
}

.button__login {
  color: var(--color-text-button);
  background-color: var(--color-menu-bg);
}

.button__login--guest {
  border: 1px solid var(--color-menu-bg);
  color: var(--color-menu-bg);
  background-color: var(--color-background-input);
}

.button__signup {
  width: 120px;
  height: 55px;
  background-color: var(--color-menu-bg);
  border-radius: 10px;
  color: var(--color-text-button);
}

button p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}


.guest-button {
  border-radius: 8px;
  border-width: 1px;
  width: 100px;
}

.buttons-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 30px;

  @media (max-width: 580px) {
    padding-top: 20px;
    flex-direction: column;
    margin: 0 auto 0 auto;
  }
}

.btn-s-40 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.button__mobile {
  height: 78px;
  padding-top: 1px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__mobile--member {
  width: 78px;
}

.button__mobil--public {
  width: 120px;
}

.button__mobile:hover {
  background-color: var(--background__menu--hover);
}

/* icons */
.icon__mobile {
  width: 78px;
  height: 78px;
}

/* Input */
input {
  border: unset;
}

.email-input {
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background-position: 230px center;
  background-size: 18px 18px;
}

.password-input {
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background-position: 230px center;
  background-size: 18px 18px;
}

/* Logo */


/* ==========
RESPONSIVE
   ==========
*/
@media (max-width:580px) {
  .button__index--signup {
    width: 100px;
    margin: 0;
  }
}
