/* Buttons */
.button {
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

.button__index--signup {
  width: 90px;
  height: 50px;
  margin-right: 120px;
  font-size: 16px;
  color: var(--color-text-button);
  background-color: var(--color-menu-bg);
}

.button__login {
  color: var(--color-text-button);
  background-color: var(--color-menu-bg);
}

.button__login--guest {
  border: 1px solid var(--color-menu-bg);
  color: var(--color-menu-bg);
  background-color: var(--color-background-input);
}

.button__signup {
  width: 120px;
  height: 55px;
  background-color: var(--color-menu-bg);
  border-radius: 10px;
  color: var(--color-text-button);
}

button p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.btn-s-40 {
  width: 40px;
  height: 40px;
}

/* Logo */
