:root {
  --color-menu-bg: #2a3647;
  --color-text-primary: #000000;
  --color-text-secondary: #CDCDCD;
  --color-text-tertiary: #29ABE2;
  --color-text-mail: #007CEE;
  --color-priority-urgent: #FF0000;
  --color-priority-medium: #FFA800;
  --color-priority-low: #7AE229;
  --color-category-user-story: #0038FF;
  --color-category-technical-task: #1FD7C1;
  --color-avatar-orange: #FF7A00;
  --color-avatar-pink: #FF5EB3;
  --color-avatar-purple-dark: #6E52FF;
  --color-avatar-purple-light: #9327FF;
  --color-avatar-cyan: #00BEE8;
  --color-avatar-turquise: #1FD7C1;
  --color-avatar-peach: #FF745E;
  --color-avatar-peach-light: #FFA35E;
  --color-avatar-magenta: #FC71FF;
  --color-avatar-gold: #FFC701;
  --color-avatar-blue-dark: #0038FF;
  --color-avatar-lime: #C3FF2B;
  --color-avatar-yellow: #FFE62B;
  --color-avatar-red: #FF4646;
  --color-avatar-golden-orange: #FFBB2B;
  --color-danger: #E60026;
  --color-border: #29ABE2;
  --color-button-hover: #29ABE2;
}
