/* Styles for the contact overlay  add + edit */

.overlay_add_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 592px;
    width: 122%;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
    border-radius: 16px;
}

.overlay_add_contact h2 {
    font-size: 61px;
    margin: unset;
    color: #ffffff;
}


.overlay_add_contact_left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
    padding-left: 40px;
    background-color: #2A3647;
    border-radius: 16px 0 0 16px;
}

.overlay_add_contact_left p {
    font-size: 29px;
    margin: unset;
    justify-self: flex-start;
}

.join_logo_overlay {
    margin-bottom: 10px;
    margin-top: 148px;
    height: 7vh;
}

.overlay_add_contact_right {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 589px;
}


.overlay_add_contact_right img {
    margin: 20px 40px;
}



.overlay_add_contact_right form {
    display: flex;
    flex-direction: column;
    padding: 0px 55px 0px 0px;
    gap: 15px;
    width: 63%;
    border-radius: 16px;
}

.overlay_add_contact form input.input_add_contact {
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
}

.addContact_form_container {
    display: flex;
    align-items: center;
}

.buttons_add_contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
    padding-right: 80px;
    
    margin-bottom: 100px;

}

.btn_save_contact {
    background-color: #ffffff;
    border: 1px solid #2A3647;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_cancel_contact {
    background-color: #2A3647;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: auto;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_cancel_contact img {
    height: 10px;
    margin: unset;
    padding-left: 8px;
}

.btn_save_contact img {
    height: 10px;
    margin: unset;
    padding-left: 8px;
}

.h2_underline {
    width: 90px;

}

.body_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.display_none {
    display: none;
}

.close_overlay_icon_container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 0;
}