.overlay_add_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 592px;
    width: 90%;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
    border-radius: 16px;
}

.overlay_add_contact h2 {
    font-size: 56px;
    margin: unset;
    color: #ffffff;
}


.overlay_add_contact_left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
    padding-left: 40px;
    background-color: #2A3647;
    border-radius: 16px 0 0 16px;
}

.overlay_add_contact_left p {
    font-size: 16px;
    margin: unset;
    justify-self: flex-start;
}

.overlay_add_contact_left img {
    margin-bottom: 40px;
    margin-top: 80px;
    
}

.overlay_add_contact_right {
    width: 60%;
    display: flex;

    justify-content: flex-end;
    flex-direction: column;
}

.overlay_add_contact_right img {
    margin: 20px 40px;
}



.overlay_add_contact_right form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    width: 63%;
    border-radius: 16px;
}

.overlay_add_contact form input.input_add_contact {
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
}

.addContact_form_container {
    display: flex;
    align-items: center;
}

.buttons_add_contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
    padding-right: 80px;
}

.btn_save_contact{
    background-color: #ffffff;
    border: 1px solid #2A3647;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_cancel_contact{
    background-color: #2A3647;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: auto;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_cancel_contact img {
    height: 10px;
    margin: unset;
    padding-left: 8px;
}

.btn_save_contact img {
    height: 10px;
    margin: unset;
    padding-left: 8px;
}

