@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/inter/inter-18pt-bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/inter/inter-18pt-regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/inter/inter-18pt-medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/inter/inter-18pt-semi-bold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url(../assets/fonts/desktop/Figtree-Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
