.help-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.guide-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 35px;
}