html,
body {
    margin: 0;
}


/* body -> display: flex; */
/* flex-direction: column; */
/* conflict with body_contacts, vorübergehend herausgenommen */


.main_index {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F7F8;
}



body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0;
    display: flex;
    /* flex-direction: column; */
    /*<--- conflict with body_contacts, vorübergehend herausgenommen*/
    height: 100vh;
    background-color: #F6F7F8;
}

/* fonts */
h2 {
    font-size: 30px;
}

h2 {
    font-size: 45px;
    margin-block-start: -18px;
    font-family: sans-serif;
}

.inter-400-regular {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.inter-500-medium {
    font-family: 'Inter';
    font-weight: 500;
    font-style: medium;
}

.inter-600-SemiBold {
    font-family: 'Inter';
    font-weight: 600;
    font-style: semibold;
}

.inter-700-bold {
    font-family: 'Inter';
    font-weight: 700;
    font-style: bold;
}

.f-s-16 {
    font-size: 16px;
}

.f-s {
    font-size: 20px;
}

.f-s-27 {
    font-size: 27px;
}

.f-s-60 {
    font-size: 60px;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px;
}

.board {
    display: flex;
    gap: 10px;
    align-items: center;

}

.board p {
    font-size: 19px;
    font-family: sans-serif;

}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 310px;

}

.form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}



.section-1 {

    margin: 50px auto;
}

.signup-button {
    background-color: #2a3647;
    color: white;
    height: 35px;
    border-radius: 8px;
}

.join-icon {
    width: 100px;
    height: 120px;
}
/* 
form {
    display: flex;
    flex-direction: column;
    gap: 60px; benennung macht probleme !

} */

input {
    border-radius: 5px;
    border-width: 1px;
    width: 250px;
    height: 20px;
}

.email-input {
    border: 1px solid #ccc;
    background-image: url('../assets/icons/envelope-regular-full.svg');
    background-repeat: no-repeat;
    background-position: 230px center;
    background-size: 18px 18px;
}

.password-input {
    border: 1px solid #ccc;
    background-image: url('../assets/icons/lock-solid-full.svg');
    background-repeat: no-repeat;
    background-position: 230px center;
    background-size: 18px 18px;
}



.login-button {
    color: white;
    background-color: #2a3647;
    border-radius: 8px;
    width: 60px;
}

.guest-button {
    border-radius: 8px;
    border-width: 1px;
    width: 100px;

}

.buttons-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30px;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

button p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;

}

footer p {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #afb8c5;

}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* contact css */

.contactside_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 61px;
    height: 93vh;
    width: 367px;
    background: white;
    margin-left: 222px;
}

.contact_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    width: 367px;
    background-color: white;
    overflow-y: auto;
}

.body_contacts {
    display: flex;
    height: 100vh;
    background-color: #F6F7F8;
}

.contact_slogan {
    font-size: 25px;
    display: flex;
    align-items: flex-start;
    margin-top: 156px;
    gap: 30px;
    padding-left: 60px;
}

.hr_line_contacts {
    border: 1px solid #29ABE2;
    height: 60px;
}

.contact_btn_addNew {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    height: 50px;
    width: 325px;
    border-radius: 8px;
    color: white;
    margin: 30px auto;
    gap: 10px;
    font-size: 21px;
    cursor: pointer;
    font-weight: 700;
    padding: 15px 15px;
}

.contact_slogan p {
    font-size: 27px;
    font-weight: 400;
    padding-top: 20px;
    color: #2A3647;
}

.contact_addBtn_logo {
    height: 20.91px;
    width: 29.33px;
}

.hr_contactList {
    border: 1px solid #D9D9D9;
    width: 325px;
    margin: 0 auto;
}

.labelfor_contactList {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 15px;
}

/* sidebar */


.sidebar {
  width: 220px;
  /* height ergänzt wegen add_task */
  height: 100%;
  background: #1a2c47;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  /* ergänzt für add_task */
  position: fixed;
  left: 0;
  top: 0;
  z-index: +1;
}

.logo {
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.nav {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
}

.nav-item {
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-right: -40px;
  padding: 10px 40px;
  cursor: pointer;
  color: #ced1d7;
}

/* nav hover color  */
.nav-item:hover {
    background: #091931;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.legal a {
  display: block;
  font-size: 14px;
  color: #abb0b3;
  cursor: pointer;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-right: -40px;
  padding: 10px 40px;
  box-sizing: border-box;
  border-radius: 4px;
}

.legal a:hover {
  background: #091931;
  color: #ffffff;
}



/* header */

.topbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0px 60px;
  background: white;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0px;
  width: 100%;
 
}

.topbar-left {
  padding-left: 279px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.help-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  cursor: default;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid;
  border-color: #252b41;
  color: #2eabe2;
}

.legal {
  margin-top: auto;
}

.summary_pencil {
    width: 40px;
    height: 40px;
}

.summary_check {
    width: 40px;
    height: 40px;
}

/* add_task.html */


.body_add_task {
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_add_task {
    max-width: 1440px;
    height: 100%;
    width: 89%;
    background-color: #f6f7f8;
    border-radius: 12px transparent;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.container_add_task {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

}

.div_add_task {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-left: 226px;
}

.overlay_add_task {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 642px;
    width: 53%;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px;
    gap: 20px;
}

.section_add_task {
    display: flex;
    justify-content: flex-start;
    width: 300px;
}

.form_add_task {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-right: 40px;
    width: 280px;
}

.select_add_task {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    min-width: 317px;
    gap: 5px;
}

.section_priority {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
    gap: 5px;
    width: 300px;
}

.priority {
    display: flex;
    justify-content: space-between;
    width: 277px;
    gap: 8px;
}

.h1_add_task {
    text-align: start;
    margin-bottom: 10px;
}

.hr_add_task {
    height: 310px;
    margin: -7px 0;
    border: 1px solid #E0E0E0;
}

.input_add_task {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 30px;
}

.textarea_add_task {
    margin-bottom: 30px;
    height: 80px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
}

.section_add_task_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 85px;
    gap: 15px;
    min-width: 600px;
}

.margin_bottom_add_task {
    margin-bottom: 15px;
}

.priority_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccccc7f;
    background-color: #ffffff;
    width: 100px;
    height: 40px;

    border-radius: 8px;
}

.clear_button_add_task {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #cccccc7f;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    font-size: 14px;
    color: #2A3647;
}

.clear_button_add_task img {
    height: 10px;
    margin-left: 8px;
}

.Create_button_add_task {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
}

.Create_button_add_task img {
    height: 10px;
    margin-left: 5px;
    transform: invert(1);
}

/* Styles for the contact overlay  add + edit */

.overlay_add_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 592px;
    width: 122%;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
    border-radius: 16px;
}

.overlay_add_contact h2 {
    font-size: 61px;
    margin: unset;
    color: #ffffff;
}


.overlay_add_contact_left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
    padding-left: 40px;
    background-color: #2A3647;
    border-radius: 16px 0 0 16px;
}

.overlay_add_contact_left p {
    font-size: 29px;
    margin: unset;
    justify-self: flex-start;
}

.join_logo_overlay {
    margin-bottom: 10px;
    margin-top: 148px;
    height: 7vh;
}

.overlay_add_contact_right {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 589px;
}


.overlay_add_contact_right img {
    margin: 20px 40px;
}



.overlay_add_contact_right form {
    display: flex;
    flex-direction: column;
    padding: 0px 55px 0px 0px;
    gap: 15px;
    width: 63%;
    border-radius: 16px;
}

.overlay_add_contact form input.input_add_contact {
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
}

.addContact_form_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons_add_contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
    padding-right: 80px;
    
    margin-bottom: 100px;

}

.btn_save_contact {
    background-color: #ffffff;
    border: 1px solid #2A3647;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_cancel_contact {
    background-color: #2A3647;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: auto;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_cancel_contact img {
    height: 10px;
    margin: unset;
    padding-left: 8px;
}

.btn_save_contact img {
    height: 10px;
    margin: unset;
    padding-left: 8px;
}

.h2_underline {
    width: 90px;

}

.body_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.display_none {
    display: none;
}

.close_overlay_icon_container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 0;
}