html,
body {
  width: 100%;
  max-width: 1440px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--color-background-primary);
}

/* flex-direction: column; */
/* conflict with body_contacts, vor체bergehend herausgenommen */
body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background-primary);
}

.main {
  margin: 60px 0 0 220px;
}

.main_index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background-primary);
  /* background-color: #F6F7F8; */
}

/* fonts */
h2 {
  font-size: 30px;
}

h2 {
  font-size: 45px;
  margin-block-start: -18px;
  font-family: sans-serif;
}

.inter-400-regular {
  font-family: 'Inter';
  font-weight: 400;
}

.inter-500-medium {
  font-family: 'Inter';
  font-weight: 500;
}

.inter-600-SemiBold {
  font-family: 'Inter';
  font-weight: 600;
}

.inter-700-bold {
  font-family: 'Inter';
  font-weight: 700;
}

.f-s-16 {
  font-size: 16px;
}

.f-s {
  font-size: 20px;
}

.f-s-27 {
  font-size: 27px;
}

.f-s-60 {
  font-size: 60px;
}

.text__color--light-blue {
  color: #29ABE2
}

/* menu */
.menu {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  padding: 70px;
}

.board {
  display: flex;
  gap: 10px;
  align-items: center;
}

.board p {
  font-size: 19px;
  font-family: sans-serif;
}

.form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.section-1 {
  margin: 50px auto;
}

.signup-button {
  background-color: #2a3647;
  color: white;
  height: 35px;
  border-radius: 8px;
}

.join-icon {
  width: 100px;
  height: 120px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  /* gap: 30px; //der gap ist aus der index.css */
}

input {
  border-radius: 5px;
  border-width: 1px;
  width: 250px;
  height: 20px;
}

.email-input {
  border: 1px solid #ccc;
  background-image: url('../assets/icons/envelope-regular-full.svg');
  background-repeat: no-repeat;
  background-position: 230px center;
  background-size: 18px 18px;
}

.password-input {
  border: 1px solid #ccc;
  background-image: url('../assets/icons/lock-solid-full.svg');
  background-repeat: no-repeat;
  background-position: 230px center;
  background-size: 18px 18px;
}

.login-button {
  color: white;
  background-color: #2a3647;
  border-radius: 8px;
  width: 60px;
}

.guest-button {
  border-radius: 8px;
  border-width: 1px;
  width: 100px;
}

.buttons-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 30px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

button p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

footer p {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  color: var(--color-pooter-p);
  /* color: #afb8c5; */
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer {
  color: var(--color-footer);
  /* color: #aaa; */
}

/* contact css */

.contactside_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 95px;
  height: 93vh;
  width: 367px;
  background: white;
  margin-left: 222px;
}

.contact_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  width: 367px;
  background-color: white;
  overflow-y: auto;
}

.body_contacts {
  display: flex;
  height: 100vh;
  background-color: #F6F7F8;
}

.contact_slogan {
  font-size: 25px;
  display: flex;
  align-items: flex-start;
  margin-top: 156px;
  gap: 30px;
  padding-left: 60px;
}

.hr_line_contacts {
  border: 1px solid #29ABE2;
  height: 60px;
}

.contact_btn_addNew {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2A3647;
  height: 50px;
  width: 325px;
  border-radius: 8px;
  color: white;
  margin: 30px auto;
  gap: 10px;
  font-size: 21px;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 15px;
}

.contact_slogan p {
  font-size: 27px;
  font-weight: 400;
  padding-top: 20px;
  color: #2A3647;
}

.contact_addBtn_logo {
  height: 20.91px;
  width: 29.33px;
}

.hr_contactList {
  border: 1px solid #D9D9D9;
  width: 325px;
  margin: 0 auto;
}

.labelfor_contactList {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 15px;
}

/* sidebar */

.sidebar {
  width: 230px;
  /* height erg채nzt wegen add_task */
  height: 100%;
  background: var(--color-sidemenu-active);
  /* background: #1a2c47; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  /* erg채nzt f체r add_task */
  position: fixed;
  left: 0;
  top: 0;
  z-index: +1;
}

.logo {
  margin: 12px auto 8px auto;
}

.nav {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
}

.nav-item {
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-right: -40px;
  padding: 10px 40px;
  cursor: pointer;
  color: #ced1d7;
}

/* nav hover color  */
.nav-item:hover {
  background: var(--color-nav-hover);
  /* background: #091931; */
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.legal a {
  display: block;
  font-size: 16px;
  color: #abb0b3;
  cursor: pointer;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-right: -40px;
  padding: 10px 40px;
  box-sizing: border-box;
  border-radius: 4px;
}

.legal a:hover {
  background: #091931;
  color: #ffffff;
}

/* header */
header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin: 0 0 0 220px; */
}

.topbar {
  height: 96px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  background: white;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0px;
  max-width: 1440px;
  width: 100%;
}

.topbar-left {
  padding-left: 350px;
}

.topbar-right {
  padding: 0 40px 0 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.help-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  cursor: default;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid;
  border-color: #252b41;
  color: #2eabe2;
}

.legal {
  margin-top: auto;
}

.summary_pencil {
  width: 40px;
  height: 40px;
}

.summary_check {
  width: 40px;
  height: 40px;
}
