* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

.d_none {
    display: none;
}

/* overlay, dialog, modal */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
}